<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Satistique</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-primary bg-light">
		<a class="navbar-brand" href="#">CMA</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/listag">Agriculteur
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/formagri">Ajoute
						Agriculteur</a></li>
				<li class="nav-item"><a class="nav-link" href="/stat">Statistiques
						CMA</a></li>

			</ul>

		
		</div>
	</nav>


	<script>

window.onload = function myFunction() {
var number=[[${totale}]];
var nb=[[${nbp}]];
var nb=[[${nbg}]];
var min=[[${min}]];
var max=[[${max}]];
pormin=min*number/100;
pormax=max*number/100;
por=nb*number/100;

if(por>80){
	document.getElementById("demo").css("background-color", "red"); 
}



document.getElementById("demo").style.width =por+"%";
document.getElementById("bar2").style.width =nb+"%";
document.getElementById("bar3").style.width =pormin+"%";
document.getElementById("bar4").style.width =pormax+"%";

}




</script>
	<div style="position: relative; top: 40px;">
		<div class="row">


			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							La tolale de Quntite : <Strong th:text="${totale}"></Strong>
						</h5>
						<div class="progress">
							<div class="progress-bar bg-success" role="progressbar" id="demo"
								aria-valuenow="25" aria-valuemin="0" aria-valuemax="50">%
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							Nomber de agriculteur <strong th:text="${nbg}"></strong>
						</h5>
						<div class="progress">
							<div class="progress-bar bg-info" role="progressbar" id="bar2"
								style="width: 75%" aria-valuenow="75" aria-valuemin="0"
								aria-valuemax="100">%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- -------- -->

		<div class="row">


			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							la minimum de Quntite : <Strong th:text="${min}"></Strong>
						</h5>
						<div class="progress">
							<div class="progress-bar bg-danger" role="progressbar" id="bar3"
								aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">%
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							la maximum de Quntite :<strong th:text="${max}"></strong>
						</h5>
						<div class="progress">
							<div class="progress-bar bg-warning" role="progressbar" id="bar4"
								style="width: 75%" aria-valuenow="75" aria-valuemin="0"
								aria-valuemax="100">%</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="container" style="position: relative; top: 80px;">


		<div class="card justify-center" style="width: 100%">

			<div class="card-title text-white bg-primary text-center"
				style="height: 3rem;">
				<h2>l'information</h2>
			</div>


			<div class="card-body">
				<table class="table table-hover">

					<tr class="table-active">

						<th>Cin</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Quntite</th>
				
						<th>Type</th>
						<th>Date</th>

						<th></th>
					<tr th:each="ag,ad:${ListAgriculteur}">
						<td th:text="${ag.cin}" />
						<td th:text="${ag.nom}" />
						<td th:text="${ag.prenom}" />
						<td th:text="${ag.quntite}" />
						<td th:text="${ag.idProduit}" />
						<td th:text="${ag.type}" />
						<td th:text="${ag.date}" />

						<td>
							<button type="submit" class="btn btn-danger" data-toggle="modal"
								data-target="#exampleModal">Supprimer</button> <!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">

											<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<h2 class="alert alert-danger">
												Êtes-vous sûr de le supprimer <span th:text="${ag.nom}"></span>?
											</h2>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Retour</button>
											<button type="button" class="btn btn-success">
												<a th:href="@{supproduit(id=${ag.idProduit})}">ok</a>
											</button>
										</div>
									</div>
								</div>
							</div>
					</tr>
				</table>
				<div></div>
			</div>
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
				integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
				crossorigin="anonymous"></script>
			<script
				src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
				integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
				crossorigin="anonymous"></script>
			<script
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
				integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
				crossorigin="anonymous"></script></body>


</body>
</html>